# phlix-hub OpenAPI description (S66).
#
# ⚠ THIS FILE IS HAND-MAINTAINED AND MACHINE-CHECKED.
#
# `paths` must be an EXACT bijection with the route table
# `Application::registerRoutes()` composes, including each operation's
# middleware chain. That is enforced by
# tests/Unit/Http/RouteRegistration/OpenApiSpecMatchesRouterTest.php, which
# drives the REAL registrars and fails on any route present in one artefact
# and not the other. Adding, moving or re-gating a route therefore requires
# editing this file in the same commit.
#
# Two extensions carry the machine-checked facts:
#   x-phlix-middleware  the route's middleware chain, in order, by class
#                       short name. `[]` means deliberately ungated.
#   x-phlix-route       present only when the router template differs from
#                       the OpenAPI path (OpenAPI has no `{name:regex}`
#                       form). The test compares THIS, not a normalised
#                       path, so no constraint change is hidden.
#
# WebSocket surfaces are NOT `paths`: the server tunnel mounts at the bare
# root of :8802, whose path key `/` is already taken by the HTTP SPA
# redirect on :8800. They live under the root `x-phlix-websockets`
# extension instead, with the full catalog in docs/websockets.md.

openapi: 3.1.0
info:
  title: "Phlix Hub API"
  version: "1.0.0"
  summary: "Multi-server cloud directory and reverse-tunnel relay for Phlix media servers."
  description: |-
    `phlix-hub` is the central directory a Phlix media server enrolls with, and the reverse tunnel
    through which a client reaches that server when it sits behind NAT. It is NOT the media server:
    library scanning, transcoding, HLS, DLNA and Live TV all live in `phlix-server` and are
    described by that repository's own specification.

    ## Surfaces

    - **`:8800` HTTP** — everything in `paths` below. Behind HAProxy in production.
    - **`:8802` WebSocket** — the media server's outbound relay tunnel.
    - **`:8803` WebSocket** — a client mounting a server through that tunnel.
    - **`:8804` WebSocket** — SyncPlay rooms relayed between clients.
    - **`:8805` WebSocket** — hub-to-hub federation (master side).

    The four WebSocket surfaces are described under the root `x-phlix-websockets` extension; their
    message and frame catalogs are in `docs/websockets.md`, which also covers `phlix-server`'s own
    `:8097` SyncPlay/events socket.

    ## Conventions

    Errors are a flat JSON envelope: `{"error": "<human text>", "code": "<machine code>"}`. Ids are
    8-4-4-4-12 hex UUIDs stored as `CHAR(36)`.

    Three distinct credentials appear here. A **user** bearer token is HS256 and is what the SPA and
    clients send. An **enrollment JWT** is Ed25519 and is what an enrolled media server sends; its
    public keys are published at `/.well-known/jwks.json`. A **client relay token** is minted by
    `POST /api/v1/me/servers/{id}/relay-token` and is presented only on the `:8803` WebSocket.

    Server-facing endpoints additionally require the `Accept-Phlix-Protocol: v1` header where
    `HubProtocolMiddleware` is in the chain; a missing or wrong value is a 400, not a 401.
  license:
    name: "MPL-2.0"
    identifier: "MPL-2.0"
  contact:
    name: "Phlix"
    url: "https://github.com/detain/phlix-hub"

servers:
  - url: "https://hub.phlix.tv"
    description: "Production hub."
  - url: "http://localhost:8800"
    description: "Local development (Workerman HTTP worker, unproxied)."

tags:
  - name: "Health"
    description: "Unauthenticated liveness surface."
  - name: "Web UI"
    description: "The `/app` Vue SPA shell plus the legacy server-rendered page paths, which now only redirect into it."
  - name: "Authentication"
    description: "Account creation, login, token refresh, and the current-user endpoints."
  - name: "My Servers"
    description: "A signed-in user's view of the media servers they have claimed."
  - name: "Server Proxy"
    description: "Authenticated HTTP proxied to a claimed server over its relay tunnel."
  - name: "Server Enrollment"
    description: "The claim/enroll/heartbeat lifecycle a media server drives, authenticated with an Ed25519 enrollment JWT."
  - name: "Relay"
    description: "HTTP signposts for the WebSocket relay surfaces. The tunnels themselves are not HTTP."
  - name: "Media Requests"
    description: "User requests for missing media, and the admin queue that approves them."
  - name: "Bandwidth and Quota"
    description: "Per-user relay byte accounting, monthly quota, and throttle."
  - name: "Library Sharing"
    description: "Sharing a library from one hub user to another."
  - name: "Invite Links"
    description: "Tokenised invitations that grant shares on redemption."
  - name: "Hub Settings"
    description: "Instance-wide settings. Admin only."
  - name: "Logs and Audit"
    description: "Log channel listing/tailing and the audit trail. Admin only."
  - name: "Admin Users"
    description: "User administration."
  - name: "Hub Administration"
    description: "Restart, update channel, and the admin dashboard."
  - name: "Federation"
    description: "Hub-to-hub peering, federated library offers, and admin delegation."
  - name: "Relay Metrics"
    description: "Relay counters, history, live connections, and per-route HTTP metrics."
  - name: "MCP"
    description: >-
      The Model Context Protocol endpoint an AI client talks to, plus the personal access tokens
      that authenticate it. Read-only, and gated by the same server-ownership checks as the relay
      proxy.
  - name: "Alexa"
    description: >-
      The self-hosted Amazon Alexa custom skill endpoint. Answers questions about a linked user's
      library and returns a LINK when asked to play something; it cannot start, stop or route
      playback on any device, and it cannot cast.

paths:
  "/":
    get:
      operationId: "get_root"
      tags: ["Web UI"]
      summary: "Root redirect"
      description: |-
        Legacy server-rendered page path. The Smarty UI was retired; this path 302-redirects into the
        Vue SPA under `/app`.
      x-phlix-middleware: []
      security: []
      responses:
        "302":
          description: |-
            Redirect into the SPA at `/app/servers`.
          headers:
            Location:
              description: "/app/servers"
              schema:
                type: string
  "/.well-known/jwks.json":
    get:
      operationId: "get_well_known_jwks_json"
      tags: ["Server Enrollment"]
      summary: "Hub JWKS"
      description: |-
        Public Ed25519 verification keys for the enrollment JWTs the hub mints. Public and
        cache-frontable.
      x-phlix-middleware: []
      security: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Jwks"
  "/admin/requests":
    get:
      operationId: "get_admin_requests"
      tags: ["Web UI"]
      summary: "Legacy admin media-requests page"
      description: |-
        Legacy server-rendered page path. The Smarty UI was retired; this path 302-redirects into the
        Vue SPA under `/app`.
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      security:
        - bearerAuth: []
      responses:
        "302":
          description: |-
            Always a redirect, but to one of two places. Signed in: `/app/admin/requests`. Not signed in:
            `AuthMiddleware` short-circuits first and answers a non-`/api/` path with `/app/login` rather
            than a JSON 401, so a browser is bounced to the login page.
          headers:
            Location:
              description: "/app/admin/requests when signed in, /app/login when not"
              schema:
                type: string
        "403":
          $ref: "#/components/responses/Forbidden"
  "/alexa/skill":
    post:
      operationId: "post_alexa_skill"
      tags: ["Alexa"]
      summary: "Amazon Alexa custom skill endpoint"
      description: |-
        The Phlix Alexa skill, served by the SAME `:8800` HTTP worker as everything else in this
        description — a self-hosted HTTPS endpoint, not a Lambda and not a Smart Home skill.

        ## Authentication

        `x-phlix-middleware` is `[AlexaSignatureMiddleware]`, and that gate is the only thing between
        this public path and the internet. Amazon's proof of origin is a detached RSA signature over
        the RAW request bytes, sent in `Signature-256`, made with a certificate published under
        `https://s3.amazonaws.com/echo.api/` and named in `SignatureCertChainUrl`. The middleware
        validates that URL BEFORE fetching it, verifies the chain anchors to a trusted root, checks
        the leaf's `echo-api.amazon.com` SAN, verifies the signature over the raw bytes, and only
        then enforces Amazon's 150-second replay window. The legacy SHA-1 `Signature` header is
        deliberately NOT accepted: honouring it would let a caller downgrade the gate to a broken
        hash by choosing which header to send.

        There is no `AuthMiddleware` here, on purpose. An Alexa request carries no hub session.

        ## Authorisation

        The caller's identity is the linked-account bearer token inside the JSON body
        (`session.user.accessToken` / `context.System.user.accessToken`), resolved to a hub user by
        `AlexaAccountLink`. An absent or unresolvable token is answered with a `LinkAccount` card and
        spoken prompt — never a 401, which an Alexa device cannot present to a user.

        Every library read is dispatched through the same controllers that serve
        `/api/v1/me/servers` and `/api/v1/servers/{id}/proxy/{path}`, so the skill inherits the
        404/403 server-ownership gate, the relay-tunnel and bandwidth-quota checks, path-traversal
        rejection, and the proxy's read-only browse-scope allowlist. Nothing was added to that
        allowlist for the skill: it reaches exactly `GET /api/v1/media/search` and
        `GET /api/v1/media/{id}`.

        ## What the skill can and cannot do

        Supported intents are `PhlixTitleRuntimeIntent` (runtime/year/rating/summary for one title),
        `PhlixPlayLinkIntent` (returns a `<hub>/app/search?q=` link plus a `Simple` card),
        `AMAZON.HelpIntent`, `AMAZON.StopIntent`, `AMAZON.CancelIntent` and
        `AMAZON.FallbackIntent`. `LaunchRequest` speaks the capability statement;
        `SessionEndedRequest` is answered with an empty envelope and no speech, as Amazon requires.

        The response envelope can never contain `directives`, `AudioPlayer` or `VideoApp`: the
        builder has no parameter, field or code path capable of emitting them. The skill does not
        start playback on a device and does not cast, and no response string is permitted to imply
        that it does.

        ## Rate limiting

        60 requests / 60 seconds per caller, keyed on the TRUSTED client IP (`X-Forwarded-For`
        resolved through `TRUSTED_PROXIES`, so the HAProxy front is not the bucket). Enforced BEFORE
        verification, so a flood cannot amplify into one audit row per malicious request. Per-worker,
        so the effective bound is roughly `60 × HUB_WORKERS`.
      x-phlix-middleware: [AlexaSignatureMiddleware]
      security: []
      parameters:
        - name: Signature-256
          in: header
          required: true
          description: >-
            Base64 RSA-SHA256 signature over the raw request body. The legacy SHA-1 `Signature`
            header is rejected.
          schema:
            type: string
        - name: SignatureCertChainUrl
          in: header
          required: true
          description: >-
            HTTPS URL of Amazon's signing certificate chain. Must be on s3.amazonaws.com, port 443,
            path already canonical and under /echo.api/.
          schema:
            type: string
            format: uri
      requestBody:
        required: true
        description: "An Alexa request envelope. The signature is verified over these exact bytes."
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: >-
            An Alexa response envelope. `SessionEndedRequest` yields `{version, response:
            {shouldEndSession: true}}` with no speech; every other request type carries a
            PlainText outputSpeech and, for the play-link intent, a Simple card.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: >-
            The signature gate refused the request (the body carries the machine-readable code and
            never the detail), or the body was not a usable Alexa envelope
            (`alexa.malformed_envelope`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/admin/dashboard/activity":
    get:
      operationId: "get_api_v1_admin_dashboard_activity"
      tags: ["Hub Administration"]
      summary: "Admin dashboard activity feed"
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/admin/dashboard/summary":
    get:
      operationId: "get_api_v1_admin_dashboard_summary"
      tags: ["Hub Administration"]
      summary: "Admin dashboard summary"
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/admin/logs":
    get:
      operationId: "get_api_v1_admin_logs"
      tags: ["Logs and Audit"]
      summary: "List log channels (admin path)"
      description: |-
        Same LogController as `/api/v1/me/logs`.
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/admin/logs/tail":
    get:
      operationId: "get_api_v1_admin_logs_tail"
      tags: ["Logs and Audit"]
      summary: "Tail one log channel (admin path)"
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/admin/logs/tail-all":
    get:
      operationId: "get_api_v1_admin_logs_tail_all"
      tags: ["Logs and Audit"]
      summary: "Tail every log channel (admin path)"
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/admin/metrics/connections":
    get:
      operationId: "get_api_v1_admin_metrics_connections"
      tags: ["Relay Metrics"]
      summary: "Live relay connections"
      description: |-
        Live tunnel/client registry as seen by the relay workers.
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/admin/metrics/history":
    get:
      operationId: "get_api_v1_admin_metrics_history"
      tags: ["Relay Metrics"]
      summary: "Relay metrics history"
      description: |-
        Time-bucketed history flushed by `MetricsFlushService`.
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/admin/metrics/routes":
    get:
      operationId: "get_api_v1_admin_metrics_routes"
      tags: ["Relay Metrics"]
      summary: "Per-route HTTP metrics"
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/admin/metrics/snapshot":
    get:
      operationId: "get_api_v1_admin_metrics_snapshot"
      tags: ["Relay Metrics"]
      summary: "Current relay metrics"
      description: |-
        Point-in-time counters from `MetricsRegistry`.
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/admin/requests":
    get:
      operationId: "get_api_v1_admin_requests"
      tags: ["Media Requests"]
      summary: "List all media requests"
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MediaRequestList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/admin/requests/{id}/approve":
    post:
      operationId: "post_api_v1_admin_requests_id_approve"
      tags: ["Media Requests"]
      summary: "Approve a media request"
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      parameters:
        - name: "id"
          in: path
          required: true
          description: "Resource id (8-4-4-4-12 hex UUID)."
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MediaRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/admin/requests/{id}/deny":
    post:
      operationId: "post_api_v1_admin_requests_id_deny"
      tags: ["Media Requests"]
      summary: "Deny a media request"
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      parameters:
        - name: "id"
          in: path
          required: true
          description: "Resource id (8-4-4-4-12 hex UUID)."
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MediaRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/admin/restart":
    post:
      operationId: "post_api_v1_admin_restart"
      tags: ["Hub Administration"]
      summary: "Restart the hub"
      description: |-
        Schedules a graceful Workerman reload. The HTTP response is sent before the reload so the caller
        is not cut off.
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/admin/settings":
    get:
      operationId: "get_api_v1_admin_settings"
      tags: ["Hub Settings"]
      summary: "Read hub settings (admin path)"
      description: |-
        Same HubSettingsController as `/api/v1/me/hub-settings`, on the admin path the SPA uses.
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HubSettings"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    put:
      operationId: "put_api_v1_admin_settings"
      tags: ["Hub Settings"]
      summary: "Update hub settings (admin path)"
      description: |-
        Same HubSettingsController as `/api/v1/me/hub-settings`.
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HubSettings"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/admin/updates/settings":
    put:
      operationId: "put_api_v1_admin_updates_settings"
      tags: ["Hub Administration"]
      summary: "Update-channel settings"
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/admin/updates/status":
    get:
      operationId: "get_api_v1_admin_updates_status"
      tags: ["Hub Administration"]
      summary: "Update-channel status"
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/admin/users":
    get:
      operationId: "get_api_v1_admin_users"
      tags: ["Admin Users"]
      summary: "List users"
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: "post_api_v1_admin_users"
      tags: ["Admin Users"]
      summary: "Create a user"
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/admin/users/{id}":
    delete:
      operationId: "delete_api_v1_admin_users_id"
      tags: ["Admin Users"]
      summary: "Delete a user"
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      parameters:
        - name: "id"
          in: path
          required: true
          description: "Resource id (8-4-4-4-12 hex UUID)."
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    get:
      operationId: "get_api_v1_admin_users_id"
      tags: ["Admin Users"]
      summary: "Get a user"
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      parameters:
        - name: "id"
          in: path
          required: true
          description: "Resource id (8-4-4-4-12 hex UUID)."
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    put:
      operationId: "put_api_v1_admin_users_id"
      tags: ["Admin Users"]
      summary: "Update a user"
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      parameters:
        - name: "id"
          in: path
          required: true
          description: "Resource id (8-4-4-4-12 hex UUID)."
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/admin/users/{id}/bandwidth":
    get:
      operationId: "get_api_v1_admin_users_id_bandwidth"
      tags: ["Bandwidth and Quota"]
      summary: "A user's bandwidth usage"
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      parameters:
        - name: "id"
          in: path
          required: true
          description: "Resource id (8-4-4-4-12 hex UUID)."
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BandwidthUsage"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/admin/users/{id}/profiles":
    get:
      operationId: "get_api_v1_admin_users_id_profiles"
      tags: ["Admin Users"]
      summary: "List a user's profiles"
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      parameters:
        - name: "id"
          in: path
          required: true
          description: "Resource id (8-4-4-4-12 hex UUID)."
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/admin/users/{id}/quota":
    put:
      operationId: "put_api_v1_admin_users_id_quota"
      tags: ["Bandwidth and Quota"]
      summary: "Set a user's monthly quota"
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      parameters:
        - name: "id"
          in: path
          required: true
          description: "Resource id (8-4-4-4-12 hex UUID)."
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/admin/users/{id}/reset-password":
    post:
      operationId: "post_api_v1_admin_users_id_reset_password"
      tags: ["Admin Users"]
      summary: "Reset a user password"
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      parameters:
        - name: "id"
          in: path
          required: true
          description: "Resource id (8-4-4-4-12 hex UUID)."
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/admin/users/{id}/set-admin":
    post:
      operationId: "post_api_v1_admin_users_id_set_admin"
      tags: ["Admin Users"]
      summary: "Grant or revoke admin"
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      parameters:
        - name: "id"
          in: path
          required: true
          description: "Resource id (8-4-4-4-12 hex UUID)."
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/admin/users/{id}/throttle":
    put:
      operationId: "put_api_v1_admin_users_id_throttle"
      tags: ["Bandwidth and Quota"]
      summary: "Set a user's relay throttle"
      description: |-
        Sets `throttle_bps`, which `RelaySessionManager` feeds into the per-user `TokenBucket` on the
        relay data path.
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      parameters:
        - name: "id"
          in: path
          required: true
          description: "Resource id (8-4-4-4-12 hex UUID)."
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/auth/login":
    post:
      operationId: "post_api_v1_auth_login"
      tags: ["Authentication"]
      summary: "Log in"
      description: |-
        Exchanges credentials for an HS256 access token plus a refresh token. Rate-limited by a shared
        DB-backed limiter keyed on the resolved client IP.
      x-phlix-middleware: []
      security: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthSession"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/auth/logout":
    post:
      operationId: "post_api_v1_auth_logout"
      tags: ["Authentication"]
      summary: "Log out"
      description: |-
        Clears the session cookies and invalidates the refresh token.
      x-phlix-middleware: []
      security: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/auth/me":
    get:
      operationId: "get_api_v1_auth_me"
      tags: ["Authentication"]
      summary: "Current user (alias)"
      description: |-
        Path the shared `@phlix/ui` SPA calls (it matches phlix-server); aliased to the same
        MeController as `/api/v1/me`.
      x-phlix-middleware: [AuthMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/auth/refresh":
    post:
      operationId: "post_api_v1_auth_refresh"
      tags: ["Authentication"]
      summary: "Refresh the access token"
      description: |-
        Exchanges a refresh token for a new short-lived access token.
      x-phlix-middleware: []
      security: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthSession"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/auth/register":
    post:
      operationId: "post_api_v1_auth_register"
      tags: ["Authentication"]
      summary: "Register a hub account"
      description: |-
        Canonical signup path used by the shared `@phlix/ui` SPA and by phlix-server.
        `\/api\/v1\/auth\/signup` is an alias for the same handler.
      x-phlix-middleware: []
      security: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthSession"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/auth/signup":
    post:
      operationId: "post_api_v1_auth_signup"
      tags: ["Authentication"]
      summary: "Register a hub account (alias)"
      description: |-
        Alias of `POST /api/v1/auth/register`, kept for older clients.
      x-phlix-middleware: []
      security: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthSession"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/me":
    get:
      operationId: "get_api_v1_me"
      tags: ["Authentication"]
      summary: "Current user"
      description: |-
        Returns the authenticated user, the decoded JWT claims, and the servers they own.
      x-phlix-middleware: [AuthMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/me/audit-logs":
    get:
      operationId: "get_api_v1_me_audit_logs"
      tags: ["Logs and Audit"]
      summary: "Read the audit log"
      description: |-
        Admin-only despite the `/me/` prefix.
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/me/bandwidth":
    get:
      operationId: "get_api_v1_me_bandwidth"
      tags: ["Bandwidth and Quota"]
      summary: "My bandwidth usage"
      description: |-
        Bytes relayed in the current quota window plus the effective throttle.
      x-phlix-middleware: [AuthMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BandwidthUsage"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/me/federation/admin-delegations":
    get:
      operationId: "get_api_v1_me_federation_admin_delegations"
      tags: ["Federation"]
      summary: "List admin delegations"
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: "post_api_v1_me_federation_admin_delegations"
      tags: ["Federation"]
      summary: "Create an admin delegation"
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/me/federation/admin-delegations/{id}":
    delete:
      operationId: "delete_api_v1_me_federation_admin_delegations_id"
      tags: ["Federation"]
      summary: "Delete an admin delegation"
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      parameters:
        - name: "id"
          in: path
          required: true
          description: "Resource id (8-4-4-4-12 hex UUID)."
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/me/federation/hub-config":
    get:
      operationId: "get_api_v1_me_federation_hub_config"
      tags: ["Federation"]
      summary: "Read this hub's federation config"
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FederationHubConfig"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    put:
      operationId: "put_api_v1_me_federation_hub_config"
      tags: ["Federation"]
      summary: "Update this hub's federation config"
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FederationHubConfig"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/me/federation/library-shares/incoming":
    get:
      operationId: "get_api_v1_me_federation_library_shares_incoming"
      tags: ["Federation"]
      summary: "List incoming federated offers"
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/me/federation/library-shares/incoming/{id}/accept":
    post:
      operationId: "post_api_v1_me_federation_library_shares_incoming_id_accept"
      tags: ["Federation"]
      summary: "Accept an incoming offer"
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      parameters:
        - name: "id"
          in: path
          required: true
          description: "Resource id (8-4-4-4-12 hex UUID)."
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/me/federation/library-shares/incoming/{id}/reject":
    post:
      operationId: "post_api_v1_me_federation_library_shares_incoming_id_reject"
      tags: ["Federation"]
      summary: "Reject an incoming offer"
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      parameters:
        - name: "id"
          in: path
          required: true
          description: "Resource id (8-4-4-4-12 hex UUID)."
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/me/federation/library-shares/outgoing":
    get:
      operationId: "get_api_v1_me_federation_library_shares_outgoing"
      tags: ["Federation"]
      summary: "List outgoing federated shares"
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: "post_api_v1_me_federation_library_shares_outgoing"
      tags: ["Federation"]
      summary: "Offer a library to a peer hub"
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/me/federation/library-shares/outgoing/{id}":
    delete:
      operationId: "delete_api_v1_me_federation_library_shares_outgoing_id"
      tags: ["Federation"]
      summary: "Revoke an outgoing federated share"
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      parameters:
        - name: "id"
          in: path
          required: true
          description: "Resource id (8-4-4-4-12 hex UUID)."
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/me/federation/peers":
    get:
      operationId: "get_api_v1_me_federation_peers"
      tags: ["Federation"]
      summary: "List federation peers"
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FederationPeerList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: "post_api_v1_me_federation_peers"
      tags: ["Federation"]
      summary: "Add a federation peer"
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FederationPeer"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/me/federation/peers/{id}":
    delete:
      operationId: "delete_api_v1_me_federation_peers_id"
      tags: ["Federation"]
      summary: "Remove a federation peer"
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      parameters:
        - name: "id"
          in: path
          required: true
          description: "Resource id (8-4-4-4-12 hex UUID)."
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/me/federation/peers/{id}/admin-delegation":
    put:
      operationId: "put_api_v1_me_federation_peers_id_admin_delegation"
      tags: ["Federation"]
      summary: "Toggle admin delegation for a peer"
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      parameters:
        - name: "id"
          in: path
          required: true
          description: "Resource id (8-4-4-4-12 hex UUID)."
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FederationPeer"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/me/federation/peers/{id}/relay":
    put:
      operationId: "put_api_v1_me_federation_peers_id_relay"
      tags: ["Federation"]
      summary: "Toggle relay for a peer"
      description: |-
        Enables or disables tunnel relaying for this peer over the `:8805` federation socket.
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      parameters:
        - name: "id"
          in: path
          required: true
          description: "Resource id (8-4-4-4-12 hex UUID)."
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FederationPeer"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/me/hub-settings":
    get:
      operationId: "get_api_v1_me_hub_settings"
      tags: ["Hub Settings"]
      summary: "Read hub settings"
      description: |-
        Admin-only despite the `/me/` prefix — the chain is [AuthMiddleware, AdminMiddleware].
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HubSettings"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    put:
      operationId: "put_api_v1_me_hub_settings"
      tags: ["Hub Settings"]
      summary: "Update hub settings"
      description: |-
        Admin-only despite the `/me/` prefix.
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HubSettings"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/me/invite-links":
    get:
      operationId: "get_api_v1_me_invite_links"
      tags: ["Invite Links"]
      summary: "List my invite links"
      x-phlix-middleware: [AuthMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InviteLinkList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: "post_api_v1_me_invite_links"
      tags: ["Invite Links"]
      summary: "Create an invite link"
      x-phlix-middleware: [AuthMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InviteLink"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/me/invite-links/":
    get:
      operationId: "get_api_v1_me_invite_links_slash"
      tags: ["Invite Links"]
      summary: "List my invite links (trailing-slash alias)"
      description: |-
        The router registers the trailing-slash form explicitly; it is the same handler.
      x-phlix-middleware: [AuthMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InviteLinkList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: "post_api_v1_me_invite_links_slash"
      tags: ["Invite Links"]
      summary: "Create an invite link (trailing-slash alias)"
      description: |-
        The router registers the trailing-slash form explicitly; it is the same handler.
      x-phlix-middleware: [AuthMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InviteLink"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/me/invite-links/{id}":
    delete:
      operationId: "delete_api_v1_me_invite_links_id"
      tags: ["Invite Links"]
      summary: "Delete an invite link"
      x-phlix-middleware: [AuthMiddleware]
      parameters:
        - name: "id"
          in: path
          required: true
          description: "Resource id (8-4-4-4-12 hex UUID)."
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/me/invite-links/{token}/redeem":
    post:
      operationId: "post_api_v1_me_invite_links_token_redeem"
      tags: ["Invite Links"]
      summary: "Redeem an invite link"
      description: |-
        The signed-in invitee redeems the token and receives the shares it grants.
      x-phlix-middleware: [AuthMiddleware]
      parameters:
        - name: "token"
          in: path
          required: true
          description: "Opaque invite token."
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/me/libraries":
    get:
      operationId: "get_api_v1_me_libraries"
      tags: ["My Servers"]
      summary: "List my libraries"
      description: |-
        Libraries across all owned servers, fed by the per-server heartbeat payload.
      x-phlix-middleware: [AuthMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/me/mcp-tokens":
    get:
      operationId: "get_api_v1_me_mcp_tokens"
      tags: ["MCP"]
      summary: "List my MCP personal access tokens"
      description: |-
        Metadata only — the plaintext of a token is unrecoverable, because only its SHA-256 hash was
        stored at mint time. Revoked and expired rows are included so the owner can see the history;
        each carries `revoked` / `expired` flags.
      x-phlix-middleware: [AuthMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/McpTokenList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: "post_api_v1_me_mcp_tokens"
      tags: ["MCP"]
      summary: "Mint an MCP personal access token"
      description: |-
        Mints the long-lived (90-day default) bearer credential an MCP client presents to `POST /mcp`.
        The plaintext is returned EXACTLY ONCE and cannot be retrieved afterwards.

        The token is scoped to the calling USER, not to a server: `list_servers` has to enumerate
        every server that user owns. Per-server authorisation happens at USE time — every MCP tool
        call is routed through the same ownership check `/api/v1/servers/{id}/proxy/…` uses, so a
        token can only ever reach servers its user still owns at the moment of the call.

        `scopes` narrows the token below its user's own access; it can never widen it. An omitted
        list grants exactly the read-only set — `mcp:servers:read`, `mcp:library:read`,
        `mcp:playback:read` — and never `mcp:playback:control`; a caller who has expressed no
        opinion does not receive the write capability. Asking for `mcp:playback:control` explicitly
        still grants it. A list containing no recognised scope is a 400 rather than a token that
        authenticates but authorises nothing.
      x-phlix-middleware: [AuthMiddleware]
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/McpTokenMintRequest"
      responses:
        "201":
          description: "Minted. The `token` field is shown here and nowhere else, ever."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/McpTokenMinted"
        "400":
          description: "No recognised scope was requested."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/me/mcp-tokens/{id}":
    delete:
      operationId: "delete_api_v1_me_mcp_tokens_id"
      tags: ["MCP"]
      summary: "Revoke one of my MCP tokens"
      description: |-
        Revocation is immediate and independent of expiry. An unknown id, an already-revoked token
        and a token belonging to somebody else are deliberately indistinguishable (all 404), so this
        endpoint cannot be used as an oracle for other users' token ids.
      x-phlix-middleware: [AuthMiddleware]
      parameters:
        - name: "id"
          in: path
          required: true
          description: "Resource id (8-4-4-4-12 hex UUID)."
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Revoked."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/me/logs":
    get:
      operationId: "get_api_v1_me_logs"
      tags: ["Logs and Audit"]
      summary: "List log channels"
      description: |-
        Admin-only despite the `/me/` prefix.
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/me/logs/tail":
    get:
      operationId: "get_api_v1_me_logs_tail"
      tags: ["Logs and Audit"]
      summary: "Tail one log channel"
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/me/logs/tail-all":
    get:
      operationId: "get_api_v1_me_logs_tail_all"
      tags: ["Logs and Audit"]
      summary: "Tail every log channel"
      x-phlix-middleware: [AuthMiddleware, AdminMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/me/requests":
    get:
      operationId: "get_api_v1_me_requests"
      tags: ["Media Requests"]
      summary: "List my media requests"
      x-phlix-middleware: [AuthMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MediaRequestList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: "post_api_v1_me_requests"
      tags: ["Media Requests"]
      summary: "Create a media request"
      x-phlix-middleware: [AuthMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MediaRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/me/requests/{id}":
    delete:
      operationId: "delete_api_v1_me_requests_id"
      tags: ["Media Requests"]
      summary: "Withdraw a media request"
      x-phlix-middleware: [AuthMiddleware]
      parameters:
        - name: "id"
          in: path
          required: true
          description: "Resource id (8-4-4-4-12 hex UUID)."
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    get:
      operationId: "get_api_v1_me_requests_id"
      tags: ["Media Requests"]
      summary: "Get one of my media requests"
      x-phlix-middleware: [AuthMiddleware]
      parameters:
        - name: "id"
          in: path
          required: true
          description: "Resource id (8-4-4-4-12 hex UUID)."
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MediaRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/me/servers":
    get:
      operationId: "get_api_v1_me_servers"
      tags: ["My Servers"]
      summary: "List my servers"
      description: |-
        Every media server this user has claimed, with online state derived from the last heartbeat.
      x-phlix-middleware: [AuthMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/me/servers/{id}":
    delete:
      operationId: "delete_api_v1_me_servers_id"
      tags: ["My Servers"]
      summary: "Unclaim a server"
      description: |-
        Removes the claim, revokes the enrollment, and tears down any live tunnel.
      x-phlix-middleware: [AuthMiddleware]
      parameters:
        - name: "id"
          in: path
          required: true
          description: "Resource id (8-4-4-4-12 hex UUID)."
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    get:
      operationId: "get_api_v1_me_servers_id"
      tags: ["My Servers"]
      summary: "Get one of my servers"
      description: |-
        Detail view for a single claimed server.
      x-phlix-middleware: [AuthMiddleware]
      parameters:
        - name: "id"
          in: path
          required: true
          description: "Resource id (8-4-4-4-12 hex UUID)."
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Server"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/me/servers/{id}/access-info":
    get:
      operationId: "get_api_v1_me_servers_id_access_info"
      tags: ["My Servers"]
      summary: "Server access info"
      description: |-
        How to reach the server: direct LAN/WAN addresses, the allocated subdomain, and whether the
        relay tunnel is up.
      x-phlix-middleware: [AuthMiddleware]
      parameters:
        - name: "id"
          in: path
          required: true
          description: "Resource id (8-4-4-4-12 hex UUID)."
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/me/servers/{id}/relay-token":
    post:
      operationId: "post_api_v1_me_servers_id_relay_token"
      tags: ["My Servers"]
      summary: "Mint a client relay token"
      description: |-
        Mints the short-lived per-user token a client presents when mounting
        `ws://hub:8803/client/{server_id}`. See the WebSocket section.
      x-phlix-middleware: [AuthMiddleware]
      parameters:
        - name: "id"
          in: path
          required: true
          description: "Resource id (8-4-4-4-12 hex UUID)."
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RelayToken"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/me/shares":
    get:
      operationId: "get_api_v1_me_shares"
      tags: ["Library Sharing"]
      summary: "List my library shares"
      x-phlix-middleware: [AuthMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LibraryShareList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: "post_api_v1_me_shares"
      tags: ["Library Sharing"]
      summary: "Share a library"
      x-phlix-middleware: [AuthMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LibraryShare"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/me/shares/":
    get:
      operationId: "get_api_v1_me_shares_slash"
      tags: ["Library Sharing"]
      summary: "List my library shares (trailing-slash alias)"
      description: |-
        The router registers the trailing-slash form explicitly; it is the same handler.
      x-phlix-middleware: [AuthMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LibraryShareList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: "post_api_v1_me_shares_slash"
      tags: ["Library Sharing"]
      summary: "Share a library (trailing-slash alias)"
      description: |-
        The router registers the trailing-slash form explicitly; it is the same handler.
      x-phlix-middleware: [AuthMiddleware]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LibraryShare"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/me/shares/{id}":
    delete:
      operationId: "delete_api_v1_me_shares_id"
      tags: ["Library Sharing"]
      summary: "Revoke a library share"
      x-phlix-middleware: [AuthMiddleware]
      parameters:
        - name: "id"
          in: path
          required: true
          description: "Resource id (8-4-4-4-12 hex UUID)."
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    patch:
      operationId: "patch_api_v1_me_shares_id"
      tags: ["Library Sharing"]
      summary: "Update a library share"
      x-phlix-middleware: [AuthMiddleware]
      parameters:
        - name: "id"
          in: path
          required: true
          description: "Resource id (8-4-4-4-12 hex UUID)."
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LibraryShare"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/server-claims/claim":
    post:
      operationId: "post_api_v1_server_claims_claim"
      tags: ["Server Enrollment"]
      summary: "Approve a claim as the owner"
      description: |-
        The signed-in user pastes the claim code shown by the server; this binds the server to their
        account.
      x-phlix-middleware: [AuthMiddleware, HubProtocolMiddleware]
      parameters:
        - $ref: "#/components/parameters/AcceptPhlixProtocol"
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          $ref: "#/components/responses/ProtocolRequired"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/server-claims/new":
    post:
      operationId: "post_api_v1_server_claims_new"
      tags: ["Server Enrollment"]
      summary: "Begin a server claim"
      description: |-
        A freshly installed server calls this with no credentials; the returned claim id is the
        unguessable bearer secret it polls with, and the claim code is what the operator pastes into the
        hub UI.
      x-phlix-middleware: [HubProtocolMiddleware]
      parameters:
        - $ref: "#/components/parameters/AcceptPhlixProtocol"
      security: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerClaim"
        "400":
          $ref: "#/components/responses/ProtocolRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/server-claims/{claimId}":
    get:
      operationId: "get_api_v1_server_claims_claimId"
      tags: ["Server Enrollment"]
      summary: "Poll claim status"
      description: |-
        The server polls until the claim is approved, at which point the response carries the enrollment
        JWT.
      x-phlix-middleware: [HubProtocolMiddleware]
      parameters:
        - name: "claimId"
          in: path
          required: true
          description: "Claim id returned by `POST /api/v1/server-claims/new`. It is the bearer secret for polling."
          schema:
            type: string
        - $ref: "#/components/parameters/AcceptPhlixProtocol"
      security: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerClaimStatus"
        "400":
          $ref: "#/components/responses/ProtocolRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/servers/{id}":
    delete:
      operationId: "delete_api_v1_servers_id"
      tags: ["Server Enrollment"]
      summary: "Deregister this server"
      description: |-
        Server-initiated deregistration; drops the enrollment and any live tunnel.
      x-phlix-middleware: [EnrollmentJwtMiddleware, HubProtocolMiddleware]
      parameters:
        - name: "id"
          in: path
          required: true
          description: "Resource id (8-4-4-4-12 hex UUID)."
          schema:
            type: string
        - $ref: "#/components/parameters/AcceptPhlixProtocol"
      security:
        - enrollmentJwt: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          $ref: "#/components/responses/ProtocolRequired"
        "401":
          $ref: "#/components/responses/EnrollmentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/servers/{id}/heartbeat":
    post:
      operationId: "post_api_v1_servers_id_heartbeat"
      tags: ["Server Enrollment"]
      summary: "Server heartbeat"
      description: |-
        Periodic liveness + inventory push from an enrolled server. Also feeds `server_libraries`, which
        `GET /api/v1/me/libraries` reads.
      x-phlix-middleware: [EnrollmentJwtMiddleware, HubProtocolMiddleware]
      parameters:
        - name: "id"
          in: path
          required: true
          description: "Resource id (8-4-4-4-12 hex UUID)."
          schema:
            type: string
        - $ref: "#/components/parameters/AcceptPhlixProtocol"
      security:
        - enrollmentJwt: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          $ref: "#/components/responses/ProtocolRequired"
        "401":
          $ref: "#/components/responses/EnrollmentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/servers/{id}/info":
    get:
      operationId: "get_api_v1_servers_id_info"
      tags: ["Server Enrollment"]
      summary: "Server-side view of its own record"
      description: |-
        What the hub knows about the calling server: owner, subdomain, relay policy.
      x-phlix-middleware: [EnrollmentJwtMiddleware, HubProtocolMiddleware]
      parameters:
        - name: "id"
          in: path
          required: true
          description: "Resource id (8-4-4-4-12 hex UUID)."
          schema:
            type: string
        - $ref: "#/components/parameters/AcceptPhlixProtocol"
      security:
        - enrollmentJwt: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          $ref: "#/components/responses/ProtocolRequired"
        "401":
          $ref: "#/components/responses/EnrollmentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/servers/{id}/proxy/{path}":
    x-phlix-route: "/api/v1/servers/{id}/proxy/{path:.*}"
    delete:
      operationId: "delete_api_v1_servers_id_proxy_path"
      tags: ["Server Proxy"]
      summary: "Proxy a DELETE to a server"
      x-phlix-middleware: [AuthMiddleware]
      parameters:
        - name: "id"
          in: path
          required: true
          description: "Resource id (8-4-4-4-12 hex UUID)."
          schema:
            type: string
        - name: "path"
          in: path
          required: true
          description: "Remainder of the URL, forwarded verbatim to the target (may contain `/`)."
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        "200":
          description: |-
            The target server's own response, streamed back verbatim over the relay tunnel (frame types
            HTTP_REQUEST / HTTP_RESPONSE). Status, headers and body are the server's, so the shape is
            whatever that endpoint of the phlix-server API returns.
          content:
            '*/*':
              schema: {}
        "502":
          description: "No live tunnel to that server, or the server did not answer in time."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    get:
      operationId: "get_api_v1_servers_id_proxy_path"
      tags: ["Server Proxy"]
      summary: "Proxy a GET to a server"
      x-phlix-middleware: [AuthMiddleware]
      parameters:
        - name: "id"
          in: path
          required: true
          description: "Resource id (8-4-4-4-12 hex UUID)."
          schema:
            type: string
        - name: "path"
          in: path
          required: true
          description: "Remainder of the URL, forwarded verbatim to the target (may contain `/`)."
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        "200":
          description: |-
            The target server's own response, streamed back verbatim over the relay tunnel (frame types
            HTTP_REQUEST / HTTP_RESPONSE). Status, headers and body are the server's, so the shape is
            whatever that endpoint of the phlix-server API returns.
          content:
            '*/*':
              schema: {}
        "502":
          description: "No live tunnel to that server, or the server did not answer in time."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    patch:
      operationId: "patch_api_v1_servers_id_proxy_path"
      tags: ["Server Proxy"]
      summary: "Proxy a PATCH to a server"
      x-phlix-middleware: [AuthMiddleware]
      parameters:
        - name: "id"
          in: path
          required: true
          description: "Resource id (8-4-4-4-12 hex UUID)."
          schema:
            type: string
        - name: "path"
          in: path
          required: true
          description: "Remainder of the URL, forwarded verbatim to the target (may contain `/`)."
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        "200":
          description: |-
            The target server's own response, streamed back verbatim over the relay tunnel (frame types
            HTTP_REQUEST / HTTP_RESPONSE). Status, headers and body are the server's, so the shape is
            whatever that endpoint of the phlix-server API returns.
          content:
            '*/*':
              schema: {}
        "502":
          description: "No live tunnel to that server, or the server did not answer in time."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: "post_api_v1_servers_id_proxy_path"
      tags: ["Server Proxy"]
      summary: "Proxy a POST to a server"
      x-phlix-middleware: [AuthMiddleware]
      parameters:
        - name: "id"
          in: path
          required: true
          description: "Resource id (8-4-4-4-12 hex UUID)."
          schema:
            type: string
        - name: "path"
          in: path
          required: true
          description: "Remainder of the URL, forwarded verbatim to the target (may contain `/`)."
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        "200":
          description: |-
            The target server's own response, streamed back verbatim over the relay tunnel (frame types
            HTTP_REQUEST / HTTP_RESPONSE). Status, headers and body are the server's, so the shape is
            whatever that endpoint of the phlix-server API returns.
          content:
            '*/*':
              schema: {}
        "502":
          description: "No live tunnel to that server, or the server did not answer in time."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    put:
      operationId: "put_api_v1_servers_id_proxy_path"
      tags: ["Server Proxy"]
      summary: "Proxy a PUT to a server"
      x-phlix-middleware: [AuthMiddleware]
      parameters:
        - name: "id"
          in: path
          required: true
          description: "Resource id (8-4-4-4-12 hex UUID)."
          schema:
            type: string
        - name: "path"
          in: path
          required: true
          description: "Remainder of the URL, forwarded verbatim to the target (may contain `/`)."
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        "200":
          description: |-
            The target server's own response, streamed back verbatim over the relay tunnel (frame types
            HTTP_REQUEST / HTTP_RESPONSE). Status, headers and body are the server's, so the shape is
            whatever that endpoint of the phlix-server API returns.
          content:
            '*/*':
              schema: {}
        "502":
          description: "No live tunnel to that server, or the server did not answer in time."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/servers/{id}/relay":
    post:
      operationId: "post_api_v1_servers_id_relay"
      tags: ["Relay"]
      summary: "Relay tunnel signpost"
      description: |-
        HTTP signpost only. The tunnel itself is a WebSocket on `:8802` — this endpoint answers 501
        with an `X-WS-Endpoint` header naming it. phlix-server addresses this path from
        `config/relay.php` `hub_wss_url`. Authenticates inside the controller.
      x-phlix-middleware: []
      parameters:
        - name: "id"
          in: path
          required: true
          description: "Resource id (8-4-4-4-12 hex UUID)."
          schema:
            type: string
      security: []
      responses:
        "501":
          description: |-
            Always. The relay tunnel is not an HTTP endpoint; the response body and the `X-WS-Endpoint`
            header name the `:8802` WebSocket to connect to instead.
          headers:
            X-WS-Endpoint:
              description: "WebSocket URL of the relay tunnel, e.g. `ws://hub.phlix.tv:8802`."
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RelaySignpost"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/servers/{id}/renew":
    post:
      operationId: "post_api_v1_servers_id_renew"
      tags: ["Server Enrollment"]
      summary: "Renew the enrollment JWT"
      description: |-
        Rotates the Ed25519-signed enrollment JWT before it expires.
      x-phlix-middleware: [EnrollmentJwtMiddleware, HubProtocolMiddleware]
      parameters:
        - name: "id"
          in: path
          required: true
          description: "Resource id (8-4-4-4-12 hex UUID)."
          schema:
            type: string
        - $ref: "#/components/parameters/AcceptPhlixProtocol"
      security:
        - enrollmentJwt: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          $ref: "#/components/responses/ProtocolRequired"
        "401":
          $ref: "#/components/responses/EnrollmentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/api/v1/servers/{id}/subdomain":
    delete:
      operationId: "delete_api_v1_servers_id_subdomain"
      tags: ["Server Enrollment"]
      summary: "Release a subdomain"
      description: |-
        Releases the allocated subdomain and removes the DNS alias. Authenticates inside the controller,
        as above.
      x-phlix-middleware: []
      parameters:
        - name: "id"
          in: path
          required: true
          description: "Resource id (8-4-4-4-12 hex UUID)."
          schema:
            type: string
      security: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: "post_api_v1_servers_id_subdomain"
      tags: ["Server Enrollment"]
      summary: "Allocate a subdomain"
      description: |-
        Allocates `<name>.phlix.tv` for the calling server and provisions the DNS alias. Authenticates
        INSIDE the controller against the Ed25519 enrollment JWT, so it carries no route middleware.
        phlix-server calls this from `src/Hub/SubdomainClient.php`.
      x-phlix-middleware: []
      parameters:
        - name: "id"
          in: path
          required: true
          description: "Resource id (8-4-4-4-12 hex UUID)."
          schema:
            type: string
      security: []
      responses:
        "200":
          description: "Success."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/app":
    get:
      operationId: "get_app"
      tags: ["Web UI"]
      summary: "SPA shell"
      description: |-
        Serves the `@phlix/hub-web-ui` Vue SPA shell (index.html) built into `public/assets/app/`.
      x-phlix-middleware: []
      security: []
      responses:
        "200":
          description: "The SPA shell document."
          content:
            text/html:
              schema:
                type: string
        "404":
          $ref: "#/components/responses/NotFound"
  "/app/{path}":
    x-phlix-route: "/app/{path:.*}"
    get:
      operationId: "get_app_path"
      tags: ["Web UI"]
      summary: "SPA shell (deep link)"
      description: |-
        Catch-all for SPA client-side routes; serves the same shell so a deep link reloads correctly.
      x-phlix-middleware: []
      parameters:
        - name: "path"
          in: path
          required: true
          description: "Remainder of the URL, forwarded verbatim to the target (may contain `/`)."
          schema:
            type: string
      security: []
      responses:
        "200":
          description: "The SPA shell document."
          content:
            text/html:
              schema:
                type: string
        "404":
          $ref: "#/components/responses/NotFound"
  "/audit-logs":
    get:
      operationId: "get_audit_logs"
      tags: ["Web UI"]
      summary: "Legacy audit-logs page"
      description: |-
        Legacy server-rendered page path. The Smarty UI was retired; this path 302-redirects into the
        Vue SPA under `/app`.
      x-phlix-middleware: [AuthMiddleware]
      security:
        - bearerAuth: []
      responses:
        "302":
          description: |-
            Always a redirect, but to one of two places. Signed in: `/app/admin/audit-logs`. Not signed in:
            `AuthMiddleware` short-circuits first and answers a non-`/api/` path with `/app/login` rather
            than a JSON 401, so a browser is bounced to the login page.
          headers:
            Location:
              description: "/app/admin/audit-logs when signed in, /app/login when not"
              schema:
                type: string
  "/claim-server":
    get:
      operationId: "get_claim_server"
      tags: ["Web UI"]
      summary: "Legacy claim-server page"
      description: |-
        Legacy server-rendered page path. The Smarty UI was retired; this path 302-redirects into the
        Vue SPA under `/app`. There is no dedicated claim page; the claim modal lives in the SPA
        MyServersPage.
      x-phlix-middleware: [AuthMiddleware]
      security:
        - bearerAuth: []
      responses:
        "302":
          description: |-
            Always a redirect, but to one of two places. Signed in: `/app/servers`. Not signed in:
            `AuthMiddleware` short-circuits first and answers a non-`/api/` path with `/app/login` rather
            than a JSON 401, so a browser is bounced to the login page.
          headers:
            Location:
              description: "/app/servers when signed in, /app/login when not"
              schema:
                type: string
  "/client/{server_id}":
    get:
      operationId: "get_client_server_id"
      tags: ["Relay"]
      summary: "Client mount signpost"
      description: |-
[...]
