<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="phlix-hub">
    <description>PSR-12 coding standard for detain/phlix-hub.</description>

    <file>src</file>
    <file>scripts</file>

    <arg name="colors"/>
    <arg name="extensions" value="php"/>
    <arg value="np"/>

    <rule ref="PSR12"/>
</ruleset>
