parameters:
    level: 9
    paths:
        - src
    bootstrapFiles:
        - vendor/autoload.php
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#Phlix\\Hub\\RequestController#'
        - '#Phlix\\Hub\\RelayController#'
