parameters:
    level: 9
    paths:
        - src
        - scripts
    bootstrapFiles:
        - vendor/autoload.php
    stubFiles:
        - phpstan-stubs/ChannelClient.stub
    treatPhpDocTypesAsCertain: false
